<div class="sibu_image_preview">
  <%= image_tag @image.file_url(:medium) %>
</div>
<%= form_for(@image) do |f| %>
  <div class="sibu_field">
    <%= f.label :alt, "Légende / texte alternatif" %>
    <div>
      <%= f.text_field :alt %><br/>
      <small>Renseignez un texte décrivant l'image</small>
    </div>
  </div>
  <%= f.hidden_field :user_id %>
  <div class="sibu_actions">
    <%= f.submit 'Mettre à jour' %>
    <%= link_to 'Supprimer', image_path(@image.id), method: :delete, data: {confirm: "Supprimer l'image ?", disable_with: "Suppression en cours..."} %>
  </div>
<% end %>