<div class="sibu_view">
  <div class="actions">
    <%= link_to "Bibliothèque d'images", images_path %>
    <%= link_to "Documents", documents_path %>
    <%= link_to 'Créer un site', new_site_path %>
  </div>
  <h2>Liste des sites</h2>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Modèle</th>
        <th>Version</th>
        <th>Mise à jour</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
    <% @sites.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.site_template.name if s.site_template %></td>
        <td><%= s.version.upcase unless s.version.blank? %></td>
        <td><%= l s.updated_at %></td>
        <td colspan="2">
          <%= link_to 'Pages', site_pages_path(s) %> |
          <%= link_to 'Modifier', edit_site_path(s) %> |
          <%= link_to 'Copier', duplicate_site_path(s), method: :post, data: {confirm: "Copier le site \"#{s.name}\" ?"} %> |
          <%= link_to 'Supprimer', site_path(s), method: :delete, data: {confirm: "Supprimer le site \"#{s.name}\" ?"} %>
        </td>
      </tr>
    <% end %>
    <% if @sites.empty? %>
    <tr>
      <td colspan="4">Aucun site créé pour le moment.</td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>

