<header>
  <%= site_section('header') do %>
    <%= sb.h1('title') %>
    <%= sb.img('top_logo_img', id: 'logo') %>
  <% end %>
  <nav>
    <% site_sections('main_menu').each do |menu_item| %>
      <%= site_section(menu_item) do |s| %>
        <%= sb.link(menu_item) %>
      <% end %>
    <% end %>
  </nav>
</header>
<%= render "shared/#{@site.page_template(@page)}" %>
