<%= section('page_title') do |elts| %>
  <h2><%= elts["page_title"]["value"] %></h2>
<% end %>

<%= section('page_section') do |elts| %>
  <h3><%= elts["subtitle"]["value"] %></h3>
  <p><%= elts["paragraph"]["value"] %></p>
<% end %>
