<%= section('title') do %>
  <%= sb.h2('main_title') %>
<% end %>

<div style="display: inline-block; width: 40%;">
  <%= section('section1') do %>
    <%= sb.h3('subtitle') %>
    <%= sb.p('paragraph') %>
  <% end %>
</div>

<div style="display: inline-block; width: 30%;">
  <%= section('section2') do %>
    <%= sb.h3('subtitle') %>
    <%= sb.p('paragraph') %>
  <% end %>
</div>
