<h2>Modifier le contenu</h2>
<div id="edit_msg"></div>
<div class="sibu_edit_form">
  <form class="edit_element_form" action="<%= update_element_site_page_path(@site.id, @page.id, format: :js) %>" accept-charset="UTF-8" method="patch">
    <div class="sibu_field">
      <%= label_tag 'element[code]', "Code d'intégration du contenu" %>
      <%= text_area_tag 'element[code]', @element["code"], placeholder: ' ex: <iframe src="..."></iframe>'  %>
    </div>
    <%= hidden_field_tag 'element[id]', @element["id"] %>
    <%= hidden_field_tag :element_id, @element_id %>
    <%= hidden_field_tag :section_id, @section_id %>
    <%= hidden_field_tag :entity, @entity_type %>
    <div class="sibu_actions">
      <%= submit_tag 'Valider' %>
      <%= link_to 'Annuler', '#', onclick: 'cancelEdit(); return false;' %>
    </div>
  </form>
</div>