<h2>Modifier le lien</h2>
<div id="edit_msg"></div>
<div class="sibu_form">
  <%= form_tag(update_element_site_page_path(@site.id, @page.id), method: :patch, remote: true) do |f| %>
    <div class="sibu_field">
      <%= label_tag 'element[text]', 'Libellé' %>
      <%= text_field_tag 'element[text]', @element["text"] %>
    </div>
    <div class="sibu_field">
      <%= label_tag 'element[value]', 'Lien' %>
      <%= select_tag 'element[value]', options_from_collection_for_select(@site.pages, :id, :name, @element["value"]),
                     {prompt: 'Sélectionnez une page'} %>
    </div>
    <%= hidden_field_tag 'element[id]', @element["id"] %>
    <%= hidden_field_tag :section_id, @section_id %>
    <%= hidden_field_tag :entity, @entity_type %>
    <div class="sibu_actions">
      <%= submit_tag 'Valider' %>
      <%= link_to 'Annuler', '#', onclick: 'cancelEdit(); return false;' %>
    </div>
  <% end %>
</div>
