<h2>Modifier le lien</h2>
<div id="edit_msg"></div>
<%= render 'element_actions' %>
<div class="sibu_edit_form">
  <%= form_tag(update_element_site_page_path(@site.id, @page.id), method: :patch, remote: true) do |f| %>
    <% current_type = link_type(@element["value"]) %>
    <div class="sibu_field">
      <%= label_tag 'element[text]', 'Libellé' %>
      <%= text_field_tag 'element[text]', @element["text"] %>
    </div>
    <div id="link_internal" class="sibu_field">
      <%= radio_button_tag :mode, 'internal', current_type == 'internal', class: 'radio' %>
      <%= label_tag 'mode_internal', 'Lien vers une page du site' %>
      <%= select_tag 'element[value]', available_links, prompt: 'Sélectionnez une page', disabled: current_type != 'internal' %>
      <%= hidden_field_tag 'element[target]', '_self', disabled: current_type != 'internal' %>
    </div>
    <div id="link_external" class="sibu_field">
      <%= radio_button_tag :mode, 'external', current_type == 'external', class: 'radio' %>
      <%= label_tag 'mode_external', 'Lien vers un autre site' %>
      <%= text_field_tag 'element[value]', (@element["value"] if current_type == 'external'), placeholder: 'Ex : http://www.un-site.com', disabled: current_type != 'external' %>
      <%= hidden_field_tag 'element[target]', '_blank', disabled: current_type != 'external' %>
    </div>
    <div id="link_document" class="sibu_field">
      <%= radio_button_tag :mode, 'document', current_type == 'document', class: 'radio' %>
      <%= label_tag 'mode_document', 'Lien vers un document' %>
      <%= select_tag 'element[value]', available_docs, prompt: 'Sélectionnez un document', disabled: current_type != 'document' %>
      <%= hidden_field_tag 'element[target]', '_blank', disabled: current_type != 'document' %>
    </div>
    <%= hidden_field_tag 'element[id]', @element["id"] %>
    <!-- Note : to be tested on multiple nested elements -->
    <% (@element["elements"] || []).each do |e| %>
      <% e.each_pair do |k, v| %>
        <%= hidden_field_tag "element[elements][][#{k}]", v %>
      <% end %>
    <% end %>
    <%= hidden_field_tag :element_id, @element_id %>
    <%= hidden_field_tag :section_id, @section_id %>
    <%= hidden_field_tag :entity, @entity_type %>
    <div class="sibu_actions">
      <%= submit_tag 'Valider' %>
      <%= link_to 'Annuler', '#', onclick: 'cancelEdit(); return false;' %>
    </div>
  <% end %>
</div>
