<h2>Modifier la carte</h2>
<div id="edit_msg"></div>
<div class="sibu_edit_form">
  <form class="edit_element_form" action="<%= update_element_site_page_path(@site.id, @page.id, format: :js) %>" accept-charset="UTF-8" method="patch">
    <div class="sibu_field">
      <%= label_tag 'element[data-lat]', 'Latitude' %>
      <%= text_field_tag 'element[data-lat]', @element["data-lat"] %>
    </div>
    <div class="sibu_field">
      <%= label_tag 'element[data-lng]', 'Longitude' %>
      <%= text_field_tag 'element[data-lng]', @element["data-lng"] %>
    </div>
    <div class="sibu_field">
      <%= label_tag 'element[data-title]', 'Libellé' %>
      <%= text_field_tag 'element[data-title]', @element["data-title"] %>
    </div>
    <%= hidden_field_tag 'element[id]', @element["id"] %>
    <%= hidden_field_tag :element_id, @element_id %>
    <%= hidden_field_tag :section_id, @section_id %>
    <%= hidden_field_tag :entity, @entity_type %>
    <%= hidden_field_tag :refresh, true %>
    <div class="sibu_actions">
      <%= submit_tag 'Valider' %>
      <%= link_to 'Annuler', '#', onclick: 'cancelEdit(); return false;' %>
    </div>
  </form>
</div>
