<h2>Modifier l'image</h2>
<div id="edit_msg"></div>
<%= render 'element_actions' %>
<div class="sibu_edit_form">
  <%= form_tag(update_element_site_page_path(@site.id, @page.id), method: :patch, remote: true) do |f| %>
    <div class="sibu_image_selection">
      <div class="sibu_select_images sibu_field">
        <p>Sélectionnez ou <%= link_to 'téléchargez', new_image_path(page_id: @page.id, section_id: @section_id, entity_type: @entity_type,
                                                                     element_id: @element_id, img_id: @element["id"], size: @size) %> une image</p>
        <% site_images.each_with_index do |image, i| %>
          <div class="sibu_image" data-img-id="<%= image.id %>">
            <% if i == 0 %><span>Aucune image</span><% end %>
            <%= image_tag image.file_url(:small), class: (@element["src"] == image.file_url(@size) ? 'selected' : ''),
                          data: {src: image.file_url(@size), alt: image.alt} %>
          </div>
        <% end %>
      </div>
      <div class="sibu_selected_image">
        <% if @element["src"] == DEFAULT_IMG || @element["src"].blank? %>
          <p>Veuillez sélectionner une image.</p>
        <% end %>
        <div class="sibu_is_cropped" style="display: <%= (@element["src"] == DEFAULT_IMG || @element["src"].blank?) ? 'none' : 'block' %>">
          <%= check_box_tag('is_cropped', true, !@element["style"].blank?, id: 'is_cropped', class: 'checkbox') %>
          <%= label_tag 'is_cropped', "Recadrer l'image" %>
        </div>
        <div class="sibu_crop">
          <%= image_tag(@element["src"]) unless @element["src"] == DEFAULT_IMG || @element["src"].blank? %>
        </div>
        <div class="sibu_field" style="display: <%= (@element["src"] == DEFAULT_IMG || @element["src"].blank?) ? 'none' : 'block' %>">
          <%= label_tag 'element[alt]', 'Légende / texte alternatif' %>
          <%= text_field_tag 'element[alt]', @element["alt"] %>
        </div>
      </div>
    </div>
    <%= hidden_field_tag 'element[id]', @element["id"] %>
    <%= hidden_field_tag 'element[src]', @element["src"] %>
    <%= hidden_field_tag 'element[style]', @element["style"] %>
    <%= hidden_field_tag :element_id, @element_id %>
    <%= hidden_field_tag :section_id, @section_id %>
    <%= hidden_field_tag :entity, @entity_type %>
    <div class="sibu_actions">
      <%= submit_tag 'Valider' %>
      <%= link_to 'Annuler', '#', onclick: 'cancelEdit(); return false;' %>
    </div>
  <% end %>
</div>