<h2>Modifier l'image</h2>
<div id="edit_msg"></div>
<%= render 'element_actions' %>
<div class="sibu_edit_form">
  <%= form_tag(update_element_site_page_path(@site.id, @page.id), method: :patch, remote: true) do |f| %>
    <div class="sibu_select_images sibu_field">
      <p>Sélectionnez ou <%= link_to 'téléchargez', new_site_image_path(@site.id, page_id: @page.id) %> une image</p>
      <% site_images.each do |image| %>
      <div class="sibu_image" data-img-id="<%= image.id %>">
        <%= image_tag image.file_url(:small), class: (@element["src"] == image.file_url(@size) ? 'selected' : ''), data: {src: image.file_url(@size)} %>
      </div>
      <% end %>
    </div>
    <div class="sibu_field">
      <%= label_tag 'element[alt]', 'Texte alternatif' %>
      <%= text_field_tag 'element[alt]', @element["alt"] %>
    </div>
    <%= hidden_field_tag 'element[id]', @element["id"] %>
    <%= hidden_field_tag 'element[src]', @element["src"] %>
    <%= hidden_field_tag :element_id, @element_id %>
    <%= hidden_field_tag :section_id, @section_id %>
    <%= hidden_field_tag :entity, @entity_type %>
    <div class="sibu_actions">
      <%= submit_tag 'Valider' %>
      <%= link_to 'Annuler', '#', onclick: '$("#edit_panel").slideUp("fast"); return false;' %>
    </div>
  <% end %>
</div>