<div class="sibu_panel sibu_view">
  <h2>Choix du type de section</h2>
  <div id="edit_msg"></div>
</div>
<div>
  <div id="<%= "#{@site.site_template.reference}_sections" %>" class="sibu_sections sibu_site_content">
    <% sections_templates.each do |st| %>
      <div data-sb-template="<%= st["template"] %>">
        <%= render "shared/#{@site.section_template(st)}", sec: st %>
      </div>
    <% end %>
  </div>
  <%= form_tag(create_section_site_page_path(@site.id, @page.id), method: :post, remote: true) do |f| %>
    <%= hidden_field_tag 'section[template]', '' %>
    <%= hidden_field_tag :section_id, @section_id %>
    <%= hidden_field_tag :after, @after%>
    <%= hidden_field_tag :entity, @entity_type %>
    <div class="sibu_panel sibu_view">
      <div class="sibu_actions">
        <%= submit_tag 'Valider' %>
        <%= link_to 'Annuler', '#', onclick: 'cancelSectionsEdit(); return false;' %>
      </div>
    </div>
  <% end %>
</div>
