<h2>Modifier le texte</h2>
<div id="edit_msg"></div>
<%= render 'element_actions' %>
<div class="sibu_edit_form">
  <%= form_tag(update_element_site_page_path(@site.id, @page.id), method: :patch, remote: true) do |f| %>
    <div id="editor-container"></div>

    <%= hidden_field_tag 'element[text]' %>
    <%= hidden_field_tag 'element[id]', @element["id"] %>
    <%= hidden_field_tag :element_id, @element_id %>
    <%= hidden_field_tag :section_id, @section_id %>
    <%= hidden_field_tag :entity, @entity_type %>
    <div class="sibu_actions">
      <%= submit_tag 'Valider' %>
      <%= link_to 'Annuler', '#', onclick: 'cancelEdit(); return false;' %>
    </div>
  <% end %>
</div>
