var editPanel = document.querySelector("#edit_panel");
editPanel.innerHTML = "";

<% case @content_type %>
<% when 'text' %>
  editPanel.innerHTML = "<%= j(render 'text_edit_panel') %>";
<% when 'embed' %>
  editPanel.innerHTML = "<%= j(render 'code_edit_panel') %>";
<% when 'paragraph' %>
  editPanel.innerHTML = "<%= j(render 'paragraph_edit_panel') %>";
<% when 'media' %>
  editPanel.innerHTML = "<%= j(render 'media_edit_panel') %>";
<% when 'link' %>
  editPanel.innerHTML = "<%= j(render 'link_edit_panel') %>";
<% when 'group' %>
  editPanel.innerHTML = "<%= j(render 'group_edit_panel') %>";
<% when 'map' %>
  editPanel.innerHTML = "<%= j(render 'map_edit_panel') %>";
<% when /^widget/ %>
  editPanel.innerHTML = "<%= j(render "shared/sibu/#{@content_type}_panel") %>";
<% else %>
  editPanel.innerHTML = "<%= j(render 'error_panel') %>";
<% end %>

editPanel.classList.add("active");
setTimeout(function() {
    <% case @content_type %>
    <% when 'paragraph' %>
        var quill = initQuillEditor('#editor-container');
        quill.root.innerHTML = "<%= j(raw(@element["text"] || 'Texte à modifier')) %>";
        quill.on('text-change', function() {
            document.querySelector("#element_text").value = quill.root.innerHTML;
        });
        var wrapper = document.querySelector("[data-sb-id='<%= @section_id %>'] [data-id='<%= @element_id %>']"),
            editor = editPanel.querySelector(".ql-editor");
        editor.style['font-family'] = wrapper.style['font-family'];
        editor.style['font-size'] = wrapper.style['font-size'];
        editor.style.color = wrapper.style.color;
        editor.style['text-align'] = wrapper.style['text-align'];
    <% when 'media' %>
        var images = editPanel.querySelectorAll(".sibu_image");
        var customCenter = document.querySelector("#custom_center");
        for (var i = 0; i < images.length; i++) {
            images[i].addEventListener("click", function(evt) {
                if(!evt.currentTarget.classList.contains('selected')) {
                    evt.currentTarget.classList.remove('selected');
                    evt.currentTarget.classList.add('selected');
                    var imgElt = evt.currentTarget.querySelector("img");
                    document.querySelector("#element_src").value = imgElt.getAttribute("data-src");
                    document.querySelector("#element_alt").value = imgElt.getAttribute("data-alt");
                    editPanel.querySelector(".sibu_center").innerHTML =
                        '<img src="' + $("#element_src").val() + '"/>' +
                        '<div id="sibu_center_pos" style="display: none;">✕</div>' +
                        '<div id="sibu_center_desc" style="display: none;"><em>Cliquez sur l\'image pour la recentrer sur un point donné (à utiliser lorsque l\'image est tronquée car la zone d\'affichage est trop petite)</em></div>';
                    editPanel.querySelector(".sibu_selected_image > p:first-child").style.display = "none";
                    editPanel.querySelector(".sibu_selected_image .sibu_custom_center").style.display = "block";
                    editPanel.querySelector(".sibu_selected_image .sibu_field").style.display = "";
                    if(customCenter.checked) {
                        customCenter.removeAttribute("checked");
                        document.querySelector("#element_class").value = "";
                        document.querySelector(".sibu_center").setAttribute("style", "");
                    }
                }
            })
        }
        if(editPanel.querySelectorAll(".sibu_center img").length > 0) {
            if(customCenter.checked) {
                initCustomCenter("<%= @element_id %>");
            }
        }
        customCenter.onchange = function(evt) {
          if(this.checked) {
              initCustomCenter("<%= @element_id %>");
          } else {
              document.querySelector("#element_class").value = "";
              document.querySelector(".sibu_center").setAttribute("style", "");
              document.querySelector(".sibu_center > #sibu_center_pos").style.display = "none";
              document.querySelector(".sibu_center > #sibu_center_desc").style.display = "none";
          }
        };
    <% when 'link' %>
    <% else %>
    <% end %>

    <% if @repeat %>
        document.querySelector("#clone_elt").style.display = "inline-block";
        document.querySelector("#duplicate_elt").style.display = "inline-block";
    <% else %>
        document.querySelector("#clone_elt").remove();
        document.querySelector("#duplicate_elt").remove();
    <% end %>

    <% if @children %>
        document.querySelector("#child_elt").style.display = "inline-block";
    <% else %>
        document.querySelector("#child_elt").remove();
    <% end %>
    sibuCallback("editElement", "<%= @content_type %>");
}, 800);
document.body.style.overflow = "hidden";
