<!DOCTYPE html>
<html class="sibu">
<head>
  <title><%= conf[:title] %></title>
  <%= stylesheet_link_tag conf[:stylesheet], media: 'all' %>
  <%= javascript_include_tag conf[:javascript] %>
  <%= csrf_meta_tags %>
</head>
<body>
<% [:top_panel, :side_panel, :content_panel, :bottom_panel].each do |panel| %>
  <% unless conf[panel].blank? %>
    <div class="sibu_panel">
      <%= render conf[panel] %>
    </div>
  <% end %>
<% end %>
</body>
</html>
