<!DOCTYPE html>
<html>
<head>
  <title><%= conf[:title] %></title>
  <%= stylesheet_link_tag conf[:stylesheet], media: 'all' %>
  <%= javascript_include_tag conf[:javascript] %>
  <%= stylesheet_link_tag 'sibu/sibu', media: 'all' %>
  <%= javascript_include_tag 'sibu/sibu' %>
  <% if @site %>
    <%= stylesheet_link_tag @site.site_template.path, media: "all" %>
    <%= javascript_include_tag "#{@site.site_template.path}-core" %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
<% [:top_panel, :side_panel, :content_panel, :bottom_panel].each do |panel| %>
  <% unless conf[panel].blank? %>
    <div class="<%= 'sibu_panel' unless panel == :content_panel %>">
      <%= render conf[panel] %>
    </div>
  <% end %>
<% end %>
<div id="edit_panel" class="sibu_view"></div>

<script>
    $(function () {
        initOverlays();
    });

    function initOverlays() {
        const textTags = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'div', 'p', 'span'];

        var elts = $("[class*='sb-']");
        elts.each(function () {
            var previous;
            var elt = $(this), tag = elt.prop("tagName").toLowerCase(), width = elt.width(),
                height = elt.height(), display = elt.css("display"), padding = elt.css("padding"), margin = elt.css("margin");
            var section = elt.parents("sb-edit").first();
            var eltId = elt.data("id"), sectionId = section.data("id"), entity = section.data("entity");
            var overlayElt = $(editOverlay(width, height, display, padding, margin));
            bindMouseEnter(elt, overlayElt, eltId, sectionId, entity);
        });

        function bindMouseEnter(element, overlay, elementId, sectionId, entity) {
            element.mouseenter(function () {
                overlay.replaceAll(element);
                overlay.addClass("sb-edit-active sibu_panel");
                overlay.click(function() {
                  editContent(elementId, sectionId, entity)
                });
                bindMouseLeave(element, overlay, elementId, sectionId, entity);
            });
        }

        function bindMouseLeave(element, overlay, elementId, sectionId, entity) {
            overlay.mouseleave(function() {
                overlay.removeClass("sb-edit-active sibu_panel");
                element.replaceAll(overlay);
                bindMouseEnter(element, overlay, elementId, sectionId, entity);
            });
        }

        function editOverlay(width, height, display, padding, margin) {
            return '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ' +
                      'style="box-sizing: content-box; display: ' + display + '; padding: ' + padding + '; margin: ' + margin + ';"' +
                      'viewBox="0 0 ' + width + ' ' + height + '" width="' + width + 'px" height="' + height + 'px">' +
                      '<rect width="' + width + '" height="' + height + '" x="0" y="0" fill="#dedede"/>' +
                   '</svg>';
        }

        function editContent(eltId, sectionId, entity) {
            $.ajax({
                url: "<%= edit_element_site_page_path(@site.id, @page.id) %>",
                method: "GET",
                data: {
                    element_id: eltId,
                    section_id: sectionId,
                    entity: entity
                }
            })
        }

    }
</script>
<%= yield :scripts %>
</body>
</html>
