<!DOCTYPE html>
<html>
<head>
  <title><%= conf[:title] %></title>
  <%= stylesheet_link_tag 'sibu/sibu', media: 'all' %>
  <%= stylesheet_link_tag "#{conf[:stylesheet]}-edit", media: 'all' %>
  <%= javascript_include_tag 'sibu/sibu' %>
  <%= javascript_include_tag "#{conf[:javascript]}-edit" %>
  <% if @site %>
    <%= stylesheet_link_tag (conf[:custom_styles] ? @site.style_url : @site.site_template.path), media: "all" %>
    <%= javascript_include_tag "#{@site.site_template.path}-core" %>
  <% end %>
  <%= csrf_meta_tags %>
  <%= yield :styles %>
</head>
<body>
<% [:top_panel, :side_panel, :content_panel, :bottom_panel].each do |panel| %>
  <% unless conf[panel].blank? %>
    <div class="<%= panel == :content_panel ? 'sibu_content_panel' : 'sibu_panel' %>">
      <%= render conf[panel] %>
      <% if panel == :content_panel %>
        <div id="edit_panel" class="sibu_panel sibu_view"></div>
        <div id="sections_panel"></div>
        <div id="edit_mode_overlay" class="sibu_panel sibu_view">
          <div class="overlay_top"></div>
          <div class="overlay_right"></div>
          <div class="overlay_left"></div>
          <div class="overlay_bottom"></div>
          <div class="edit_mode_actions">
            <p id="edit_section_msg">Modifier la section</p>
            <% if conf[:section_form] %>
              <button id="edit_section" onclick="editSection()">Configurer</button>
            <% end %>
            <button id="new_section_before" onclick="newSection(false)">Insérer un bloc avant</button>
            <button id="new_section_after" onclick="newSection(true)">Insérer un bloc après</button>
            <button id="delete_section" onclick="deleteSection()">Supprimer</button>
            <button onclick="cancelEditMode()">Fermer</button>
          </div>
        </div>
        <div id="edit_overlays"></div>
    <% end %>
    </div>
  <% end %>
<% end %>
<script>
    var rootElt = $('html, body');

    $(function () {
        initOverlays();
        sibuCallback("editContent");
        <% unless @edit_section.blank? %>
          $("[data-sb-overlay='<%= @edit_section %>']").click();
        <% end %>
    });

    function setEditMode(section, overlay, left, top, width, height) {
        var editMode = $("#edit_mode_overlay");
        editMode.find(".overlay_top").css("height", top);
        editMode.find(".overlay_bottom").css("top", top + height);
        editMode.find(".overlay_left").css({"height": height, "width": left, "top": top});
        editMode.find(".overlay_right").css({"height": height, "left": left + width, "top": top});
        editMode.find(".edit_mode_actions").css({"top": (top <= 120 ? (top + height) : (top - 40 - 20)), left: left, width: width});
        editMode.find("#edit_section_msg").text("Modifier la section");
        editMode.show();
        if(!section.data('sb-repeat')) {
            editMode.find("#new_section_before").hide();
            editMode.find("#new_section_after").hide();
            editMode.find("#delete_section").hide();
        } else {
            editMode.find("#new_section_before").show();
            editMode.find("#new_section_after").show();
            editMode.find("#delete_section").show();
        }
        rootElt.animate({scrollTop: top}, 500);
        section.addClass('sb-editing');
        initInnerOverlays(section);
        $("#edit_overlays").html("");
    }

    function cancelEditMode() {
        refreshAfterEdit(false);
        $("#edit_mode_overlay").hide();
        cancelEdit();
        $(".sb-editing").removeClass("sb-editing");
        initOverlays();
        if(typeof editCancelledCallback === "function") {
            editCancelledCallback();
        }
    }

    function newSection(isAfter) {
        var section = $(".sb-editing").first();
        var sectionsPanel = $("#sections_panel");
        sectionsPanel.html(
            '<div class="sibu_panel sibu_view"><h2>Choix du type de section</h2></div>' +
            '<div><div class="sibu_sections sibu_site_content" style="text-align: center;">Chargement en cours...</div></div>' +
            '<div class="sibu_panel sibu_view"><div class="sibu_actions"><a href="#" onclick="cancelSectionsEdit(); return false;">Annuler</a></div></div>'
        );
        sectionsPanel.slideDown("fast");
        $.ajax({
            url: "<%= new_section_site_page_path(@site.id, @page.id) %>",
            method: "GET",
            data: {
                section_id: section.data("sb-id"),
                entity: section.data("sb-entity"),
                after: isAfter
            }
        })
    }

    function editSection() {
        var section = $(".sb-editing").first();
        $.ajax({
            url: "<%= edit_section_site_page_path(@site.id, @page.id) %>",
            method: "GET",
            data: {
                section_id: section.data("sb-id"),
                entity: section.data("sb-entity")
            }
        })
    }

    function deleteSection() {
        if (window.confirm("Supprimer la section ?")) {
            var section = $(".sb-editing").first();
            $.ajax({
                url: "<%= delete_section_site_page_path(@site.id, @page.id) %>",
                method: "DELETE",
                data: {
                    section_id: section.data("sb-id"),
                    entity: section.data("sb-entity")
                }
            })
        }
    }

    function cloneElement(entity, sectionId, elementId) {
        if (window.confirm("Dupliquer l'élément ?")) {
            $.ajax({
                url: "<%= clone_element_site_page_path(@site.id, @page.id) %>",
                method: "POST",
                data: {
                    section_id: sectionId,
                    element_id: elementId,
                    entity: entity
                }
            })
        }
    }

    function deleteElement(entity, sectionId, elementId) {
        if (window.confirm("Supprimer l'élément ?")) {
            $.ajax({
                url: "<%= delete_element_site_page_path(@site.id, @page.id) %>",
                method: "DELETE",
                data: {
                    section_id: sectionId,
                    element_id: elementId,
                    entity: entity
                }
            })
        }
    }

    function addChildElement(entity, sectionId, elementId) {
        if (window.confirm("Ajouter un sous-menu ?")) {
            $.ajax({
                url: "<%= child_element_site_page_path(@site.id, @page.id) %>",
                method: "POST",
                data: {
                    section_id: sectionId,
                    element_id: elementId,
                    entity: entity
                }
            })
        }
    }

    function cancelEdit() {
        $("#edit_panel").slideUp("fast");
        $("#edit_panel").html("");
        document.body.style.overflow = "initial";
    }

    function cancelSectionsEdit() {
        $("#sections_panel").slideUp("fast");
        $("#sections_panel").html("");
        document.body.style.overflow = "initial";
    }

    function editContent(eltId, sectionId, entity, repeat, contentType, size, children) {
        $.ajax({
            url: "<%= edit_element_site_page_path(@site.id, @page.id) %>",
            method: "GET",
            data: {
                element_id: eltId,
                section_id: sectionId,
                entity: entity,
                repeat: repeat,
                content_type: contentType,
                size: size,
                children: children
            }
        })
    }

    function initInnerOverlays(section) {
        var editables = section.find("[data-type]");
        editables.off();
        editables.hover(function(evt) {
            evt.stopPropagation();
            $(this).addClass("sb-editable");
        }, function() {
            $(this).removeClass("sb-editable");
        });
        editables.click(function(evt) {
            evt.stopPropagation();
            evt.preventDefault();
            var elt = $(this), eltId = elt.data("id"), repeat = elt.data("repeat"), type = elt.data("type"),
                size = elt.data("size"), children = elt.data("children");
            var sectionId = section.data("sb-id"), entity = section.data("sb-entity");
            editContent(eltId, sectionId, entity, repeat, type, size, children);
        })
    }

    function initOverlays() {
        var container = $("#edit_overlays");
        container.html("");
        $("[data-sb-id]").each(function() {
          var section = $(this);
          var offset = section.offset();
          var yOffset = offset.top - $(".sibu_content_panel").offset().top;
          var width = section.outerWidth(), height = (section.outerHeight() === 0 ? childrenHeight(section) : section.outerHeight());
          var overlay = $("<div data-sb-overlay='" + section.attr("data-sb-id") + "'>Modifier</div>");
          container.append(overlay);
          overlay.css({top: yOffset, left: offset.left, width: width, height: height});
          overlay.hover(function() {
              $(this).css("opacity", 1);
          }, function() {
              $(this).css("opacity", 0);
          });
          overlay.click(function() {
              setEditMode(section, $(this), offset.left, yOffset, width, height);
          })
        });
    }

    function childrenHeight(parentElt) {
        var height = 0;
        parentElt.find("*").each(function() {
            var childHeight = $(this).height();
            if(childHeight > height) {
                height = childHeight;
            }
        });
        return height;
    }
</script>
<%= yield :site_scripts %>
<%= yield :page_scripts %>
</body>
</html>
