<!DOCTYPE html>
<html>
<head>
  <title><%= conf[:title] %></title>
  <%= stylesheet_link_tag conf[:stylesheet], media: 'all' %>
  <%= javascript_include_tag conf[:javascript] %>
  <%= stylesheet_link_tag 'sibu/sibu', media: 'all' %>
  <%= javascript_include_tag 'sibu/sibu' %>
  <% if @site %>
    <%= stylesheet_link_tag @site.site_template.path, media: "all" %>
    <%= javascript_include_tag @site.site_template.path %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
<% [:top_panel, :side_panel, :content_panel, :bottom_panel].each do |panel| %>
  <% unless conf[panel].blank? %>
    <div class="<%= 'sibu_panel' unless panel == :content_panel %>">
      <%= render conf[panel] %>
    </div>
  <% end %>
<% end %>
<div id="edit_panel" class="sibu_view"></div>

<script>
  $(function() {
    initOverlays();
  });

  function initOverlays() {
      var elts = $("[class*='sb-']");
      elts.each(function() {
          var elt = $(this);
          elt.find(".sb-overlay").remove();
          var section = elt.parents("sb-edit").first();
          var eltId = elt.data("id"), sectionId = section.data("id"), entity = section.data("entity");
          elt.append(
              '<div class="sb-overlay sibu_panel">' +
                '<a href="<%= edit_element_site_page_path(@site.id, @page.id) %>?element_id=' + eltId + '&section_id=' + sectionId +
                  '&entity=' + entity + '" data-remote="true">Modifier</a>' +
              '</div>'
          );
      });

  }
</script>
<%= yield :scripts %>
</body>
</html>
