<!DOCTYPE html>
<html>
<head>
  <title><%= conf[:title] %></title>
  <%= stylesheet_link_tag "#{conf[:stylesheet]}-edit", media: 'all' %>
  <%= stylesheet_link_tag 'sibu/sibu', media: 'all' %>
  <%= javascript_include_tag "#{conf[:javascript]}-edit" %>
  <%= javascript_include_tag 'sibu/sibu' %>
  <% if @site %>
    <%= stylesheet_link_tag @site.site_template.path, media: "all" %>
    <%= javascript_include_tag "#{@site.site_template.path}-core" %>
  <% end %>
  <% unless @site.primary_font.blank? %>
    <%= stylesheet_link_tag "fonts/#{@site.primary_font.downcase}", media: "all" %>
  <% end %>
  <% unless @site.secondary_font.blank? %>
    <%= stylesheet_link_tag "fonts/#{@site.secondary_font.downcase}", media: "all" %>
  <% end %>
  <%= csrf_meta_tags %>
  <%= yield :styles %>
</head>
<body>
<% [:top_panel, :side_panel, :content_panel, :bottom_panel].each do |panel| %>
  <% unless conf[panel].blank? %>
    <div class="<%= panel == :content_panel ? 'sibu_content_panel' : 'sibu_panel' %>">
      <%= render conf[panel] %>
      <% if panel == :content_panel %>
        <div id="edit_panel" class="sibu_panel sibu_view"></div>
        <div id="edit_mode_overlay" class="sibu_panel sibu_view">
          <div class="overlay_top"></div>
          <div class="overlay_right"></div>
          <div class="overlay_left"></div>
          <div class="overlay_bottom"></div>
          <div class="edit_mode_actions">
            <p id="edit_section_msg">Modifier la section</p>
            <button id="clone_section" onclick="cloneSection()">Dupliquer</button>
            <button id="delete_section" onclick="deleteSection()">Supprimer</button>
            <button onclick="cancelEditMode()">Fermer</button>
          </div>
        </div>
        <div id="edit_overlays"></div>
    <% end %>
    </div>
  <% end %>
<% end %>
<script>
    const TEXT_TAGS = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'span'];
    const IMG_TAGS = ['img'];
    const LINK_TAGS = ['a'];

    $(function () {
        initOverlays();
    });

    function setEditMode(section, overlay, left, top, width, height) {
        // var offset = elt.offset();
        // var width = elt.width(), height = elt.height();
        var editMode = $("#edit_mode_overlay");
        // var yPosition = offset.top - $(".sibu_content_panel").offset().top;
        // var section = elt.parents("sb-edit").first();
        editMode.find(".overlay_top").css("height", top);
        editMode.find(".overlay_bottom").css("top", top + height);
        editMode.find(".overlay_left").css({"height": height, "width": left, "top": top});
        editMode.find(".overlay_right").css({"height": height, "left": left + width, "top": top});
        editMode.find(".edit_mode_actions").css({"top": (top <= 40 ? (top + height) : (top - 40)), left: left, width: width});
        editMode.find("#edit_section_msg").text("Modifier la section");
        editMode.show();
        if(!section.data('sb-repeat')) {
            editMode.find("#clone_section").hide();
            editMode.find("#delete_section").hide();
        } else {
            editMode.find("#clone_section").show();
            editMode.find("#delete_section").show();
        }
        window.scrollTo(0, top);
        section.addClass('sb-editing');
        initInnerOverlays(section);
        $("#edit_overlays").html("");
    }

    function cancelEditMode() {
        $("#edit_mode_overlay").hide();
        cancelEdit();
        $(".sb-editing").removeClass("sb-editing");
        initOverlays();
    }

    function cloneSection() {
        if (window.confirm("Dupliquer la section ?")) {
            var section = $(".sb-editing").first();
            $.ajax({
                url: "<%= clone_section_site_page_path(@site.id, @page.id) %>",
                method: "POST",
                data: {
                    section_id: section.data("sb-id"),
                    entity: section.data("sb-entity")
                }
            })
        }
    }

    function deleteSection() {
        if (window.confirm("Supprimer la section ?")) {
            var section = $(".sb-editing").first();
            $.ajax({
                url: "<%= delete_section_site_page_path(@site.id, @page.id) %>",
                method: "DELETE",
                data: {
                    section_id: section.data("sb-id"),
                    entity: section.data("sb-entity")
                }
            })
        }
    }

    function cancelEdit() {
        $("#edit_panel").slideUp("fast");
    }

    function editContent(eltId, sectionId, entity, contentType) {
        $.ajax({
            url: "<%= edit_element_site_page_path(@site.id, @page.id) %>",
            method: "GET",
            data: {
                element_id: eltId,
                section_id: sectionId,
                entity: entity,
                content_type: contentType
            }
        })
    }

    function initInnerOverlays(section) {
        var editables = section.find("[class*='sb-']");
        editables.off();
        editables.hover(function() {
            $(this).addClass("sb-editable");
        }, function() {
            $(this).removeClass("sb-editable");
        });
        editables.click(function(evt) {
            evt.preventDefault();
            var elt = $(this), tag = elt.prop("tagName").toLowerCase();
            var eltId = elt.data("id"), sectionId = section.data("sb-id"), entity = section.data("sb-entity");
            if (TEXT_TAGS.indexOf(tag) !== -1) {
                editContent(eltId, sectionId, entity, 'text');
            } else if (IMG_TAGS.indexOf(tag) !== -1 || elt.hasClass('sb-img')) {
                editContent(eltId, sectionId, entity, 'media');
            } else if (LINK_TAGS.indexOf(tag) !== -1) {
                editContent(eltId, sectionId, entity, 'link');
            } else {
                console.log('Sibu - Unsupported tag type : ' + tag);
            }
        })
    }

    function initOverlays() {
        // $("div.sb-overlay").remove();
        // $("sb-edit").each(function() {
        //     var elt = $(this);
        //     elt.prepend("<div class='sb-overlay'><a>Modifier</a></div>");
        //     var overlay = elt.find(".sb-overlay");
        //     var dimensions = overlayDimensions(overlay, elt);
        //     overlay.width(dimensions.width);
        //     overlay.height(dimensions.height);
        //
        //     elt.hover(function() {
        //         overlay.css("opacity", 1);
        //     }, function() {
        //         overlay.css("opacity", 0);
        //     });
        //
        //     overlay.click(function() {
        //         setEditMode($(this));
        //     })
        // });
        var container = $("#edit_overlays");
        container.html("");
        $("[data-sb-id]").each(function() {
          var section = $(this);
          var offset = section.offset();
          var yOffset = offset.top - $(".sibu_content_panel").offset().top;
          var width = section.outerWidth(), height = (section.outerHeight() === 0 ? childrenHeight(section) : section.outerHeight());
          var overlay = $("<div>Modifier</div>");
          container.append(overlay);
          overlay.css({top: yOffset, left: offset.left, width: width, height: height});
          overlay.hover(function() {
              $(this).css("opacity", 1);
          }, function() {
              $(this).css("opacity", 0);
          });
          overlay.click(function() {
              setEditMode(section, $(this), offset.left, yOffset, width, height);
          })
        });
    }

    function childrenHeight(parentElt) {
        var height = 0;
        parentElt.find("*").each(function() {
            var childHeight = $(this).height();
            if(childHeight > height) {
                height = childHeight;
            }
        });
        return height;
    }

    function overlayDimensions(overlay, element) {
        var children = element.find("> *:not(.sb-overlay)");
        var width = - +children.first().css("margin-left").replace("px", ""), height = - +children.first().css("margin-top").replace("px", "");
        var maxWidth = element.parent().outerWidth(true), maxHeight = element.parent().outerHeight(true);
        element.find("> *:not(.sb-overlay)").each(function() {
            width = width + $(this).outerWidth(true);
            height = height + $(this).outerHeight(true);
        });
        return {width: Math.min(width, maxWidth), height: Math.min(height, maxHeight)};
    }
</script>
<%= yield :scripts %>
</body>
</html>
